<!-- footer -->
<footer class="pt-5 pb-3">
  <div class="container">
    <div class="row justify-content-center text-center align-items-center">
      <div class="col-12 col-md-12 col-xxl-6 px-0">
        <div class="mb-4">
          <a href="../index.html">
            <img
              src="../assets/images/brand/logo/logo.svg"
              alt=""
              class="mb-4 logo-inverse"
            />
          </a>
          <p class="lead">
            Snap Thoughts is a clean, modern, and content-focused blogging platform built for storytellers — powered by a responsive, user-friendly design that looks great on any device.
          </p>
        </div>
      </div>
    </div>
    <!-- Desc -->
    <hr class="mt-6 mb-3" />
    <div class="row align-items-center">
    <center>
      <span
        >©
        <span id="copyright4">
          <script>
            document
              .getElementById("copyright4")
              .appendChild(document.createTextNode(new Date().getFullYear()));
          </script>
        </span>
        Snap Thoughts. All Rights Reserved</span
      >
    </center>
    </div>
  </div>
</footer>
